.messageContainer {
  position: relative;
  margin: 5px 15px 5px 15px;
  display: inline-flex;
  align-items: flex-end;
  box-sizing: border-box;
  /* animation: append-animate 0.1s linear; */
}

.selfMessage {
  align-self: flex-end;
  /* animation: append-animate-self 0.1s linear; */
}

.textBlockMessage {
  padding: 5px;
  background-color: rgb(187, 225, 255);
  border-radius: 15px;
  border-bottom-left-radius: 0%;
  position: relative;
}

.selfMessage .textBlockMessage {
  border-radius: 15px;
  border-bottom-right-radius: 0%;
}

.tailMessageContainer {
  fill: rgb(187, 225, 255);
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 99%;
}

.selfMessage .tailMessageContainer {
  transform: scaleX(-1);
  right: -10px;
  bottom: 0;
}

.tailMessage {
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.messageLoading {
  font-size: 1.2px;
  position: absolute;
  top: 50%;
  left: -15px;
  border-left: 1.1em solid cornflowerblue;
}

.messageState {
  position: absolute;
  top: 50%;
  right: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: cornflowerblue;
}
.selfMessage .messageState {
  left: -10px;
}

.avatarMessage {
  image-rendering: -webkit-optimize-contrast !important;
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

.textMessage {
  margin-left: 10%;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 30vw;
}

.nameMessage {
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(219, 152, 255);
}

.messagePopUp {
  display: flex;
  position: absolute;
  opacity: 0;
	left: 1000%;
  top: 50%;
  padding-left: 20px;
  transform: translate(0, -50%);
}
.selfMessage .messagePopUp {
  padding-left: unset;
  padding-right: 20px;
	left: unset;
	right: -1000%;
}

.messagePopUp button {
  margin: 0 5px;
  background-color: #cc3333;
}

.active {
  opacity: 1;
  left: calc(100% - 5px);
  animation: append-animate 0.2s linear;
}

.leave {
  pointer-events: none;
  left: calc(100% - 5px);
  opacity: 0;
  animation: leave-animate 0.2s linear;
}
.selfMessage .active {
  left: unset;
  right: calc(100% - 5px);
  animation: append-self-animate 0.2s linear;
}

.selfMessage .leave {
  left: unset;
  right: calc(100% - 5px);
  opacity: 0;
  animation: leave-self-animate 0.2s linear;
}

.timeMessage {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  color: rgb(139, 139, 139);
}

@keyframes append-animate {
  from {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
  }
}
@keyframes leave-animate {
  from {
    transform: translate(0, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes append-self-animate {
  from {
    transform: translate(50%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(0, -50%);
    opacity: 1;
  }
}
@keyframes leave-self-animate {
  from {
    transform: translate(0, -50%);
    opacity: 1;
  }
  to {
    transform: translate(50%, -50%);
    opacity: 0;
  }
}
