.usersContainer{
	display: flex;
	flex-direction: column;
	padding: 10px 0 10px 0;
}

.userContainer{
	padding: 10px;
	margin: 10px;
	border: 2px solid black;
}

.userLeft img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}
