.usersContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.usersContainer a {
  text-decoration: none;
  color: black;
  cursor: initial;
}

.userContainer {
  display: flex;
  padding: 10px;
  margin: 10px 0 10px 0;
  border: 2px none;
  border-radius: 5px;
  /* background: linear-gradient(
    0deg,
    rgb(239, 239, 239) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background-color: white;
  box-shadow: 0px 0px 7px rgb(202, 202, 202);
  transition: all 0.3s;
}

.usersLoading {
  align-self: center;
}

.userContainer:hover {
  box-shadow: 0px 0px 10px rgb(180, 180, 180);
}

.userLeft {
  display: flex;
  flex-direction: column;
}
.userLeft button:hover {
  cursor: pointer;
}

.userLeft button:disabled {
  color: rgb(212, 219, 245);
}

.userLeft img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 80px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}
