.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

.formContainer {
  width: 100%;
}
.formContainer input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: none;
  background-color: white;
  border-radius: var(--mainBorderRadius);
  border: 1px solid rgb(186, 186, 186);
  box-shadow: var(--mainBoxShadow);
  box-sizing: border-box;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputsContainer {
  width: 100%;
  margin-right: 20px;
}
.inputContainer {
  display: flex;
	flex-direction: column;
  position: relative;
  align-items: center;
}

.errorMessage {
  padding: 5px;
  font-size: 0.9em;
  background-color: #cc3333;
  color: white;
  border-radius: var(--mainBorderRadius);
}

.formContainer .checkboxContainer input {
  box-shadow: unset;
  width: unset;
}

.submitContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.submitContainer button {
  height: 40px;
  width: 100%;
}

.captchaContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.infoText {
  color: gray;
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 700px) {
  .formContainer {
    width: 40%;
  }
	.inputContainer{
		flex-direction: row;
	}
  .errorMessage {
    position: absolute;
    transform: translate(calc(-100% - 20px), 0);
  }
}
