.dialogs {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


.dialogsItems {
	padding: 10px;
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgb(202, 202, 202);
}

.dialogWrapper {
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  transition: all 0.3s;
}

.dialog {
  display: flex;
  align-items: center;
}

.dialogLastMessage {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.dialogWrapper:hover {
  background-color: rgb(248, 248, 248);
}

.dialogWrapper a {
  text-decoration: none;
  color: black;
}

.dialog img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}