.dialogs {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dialogsItems {
  padding: 10px;
}

.dialog {
  background: linear-gradient(
    0deg,
    rgb(239, 239, 239) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgb(202, 202, 202);
  padding: 5px;
  transition: all 0.3s;
}

.dialog:hover {
  box-shadow: 0px 0px 20px rgb(202, 202, 202);
}

.dialogWrapper a {
  text-decoration: none;
  color: black;
}

.dialog img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}

.messenger {
  overflow: auto;
  display: grid;
  grid-template-rows: 10fr 1fr;
  padding: 10px;
}

.messagesWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}

.sendWrapper {
  padding: 10px;
  display: flex;
}

.sendButton {
  width: 20%;
  height: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}

.messageTextArea {
  width: 80%;
  height: 100%;
  margin-right: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  resize: none;
  background: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(186, 186, 186);
  box-sizing: border-box;
}

.messageTextArea:focus {
  outline: none !important;
}
